<div class="container position-relative" style="min-height: 30vh;">
    <div class="btn-group position-absolute top-50 start-50 translate-middle" role="group"
        aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary h-auto" (click)="homeCompButtons(1)" style="padding: 4vh 4vw 4vh 4vw;">
            <svg xmlns="http://www.w3.org/2000/svg" width="4vw" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
            <br>
            Search character
        </button>
        <button type="button" class="btn btn-outline-primary" (click)="homeCompButtons(2)" style="padding: 4vh 4vw 4vh 4vw;">
            <svg xmlns="http://www.w3.org/2000/svg" width="4vw" fill="currentColor"
                class="bi bi-person-vcard" viewBox="0 0 16 16">
                <path
                    d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5" />
                <path
                    d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z" />
            </svg>
            <br>
            Characters
        </button>
        <!--<button type="button" class="btn btn-outline-primary" (click)="homeCompButtons(3)" style="padding: 4vh 4vw 4vh 4vw;">
            <svg xmlns="http://www.w3.org/2000/svg" width="4vw" fill="currentColor" class="bi bi-crop"
                viewBox="0 0 16 16">
                <path
                    d="M3.5.5A.5.5 0 0 1 4 1v13h13a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2H3.5a.5.5 0 0 1-.5-.5V4H1a.5.5 0 0 1 0-1h2V1a.5.5 0 0 1 .5-.5m2.5 3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4H6.5a.5.5 0 0 1-.5-.5" />
            </svg>
            <br>
            Locations
        </button>-->
    </div>
</div>